* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    padding: 0;
    background-color: antiquewhite;
}


html body {
 width: 100vw;
 height: 100vh;
 overflow-x: hidden;   
}

/*navbar and footer*/
nav{
    display: flex;   
}
.navbar {
    background-color: #8C1C13;
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 5;
}
.navbar a,
.copyright {
    color: #F2B880;
    font-weight: 700;
}
.navbar-toggler {
    background-color: #8C1C13; 
    color: #F2B880;
    border: none;
 }
 #navbar-toggler-icon {
     color: #F2B880;
 }
.active {
    color: antiquewhite !important
}
.navbar a:hover {
    color: antiquewhite;
}

form {
    justify-content: flex-end ;
     display: flex;
}


footer {
    background-color: #8C1C13;
    position: fixed;
    bottom: 0;
    height: 40px;
    right: 15px;
    left: 0px;
    margin: 0;
    width: 100vw;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-content: space-evenly;
    list-style-type: none;   
}
footer a {
    color: #F2B880;
font-size: large;
}
footer i:hover {
    color: antiquewhite;
}
.copyright {
    font-size: x-small;
    color: #F2B880;
    margin-top: 10px;
}

/* Form */
.container-form #signup-form{  
    display: flex !important;
    flex-direction: column !important;
    width: 75%;
    
}
#signup {
    background-image: url("../img/pexels-kylarose-954677.jpg");
    background-size: cover;
    background-position: 50%;
    padding-left: 25%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 25px;
    flex-grow: 1;
    min-height: 100vh;
}

#signup-form {
    color: antiquewhite;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #8C1C13;
    color: #F2B880;
}
textarea {
    background: transparent !important;
    color: antiquewhite !important;
}

/*recipe page*/
.recipe-sec
 {
    text-align: center;
}
div #italian,
div #indian,
div #african {
    text-align: center;
}
.recipe-page {
    text-align: center;
    
}
.recipe-page div {
    min-height: 35px;
}

/*recipe page nav*/
#page-nav {
    text-decoration: none;
    color: #F2B880;
    font-weight: 500;
} 
#page-nav:hover {
    text-decoration: none;
    color: antiquewhite;
} 
.cuisine {
    background-color: #8C1C13;
    color: #F2B880;
    position: fixed;
    width: 100%;
    z-index: 4;
    right: 15px;
    left: 0px;
    margin: 0;
    width: 100vw;
    margin-top: 40px;
}
.cuisine a {
  color: #F2B880;
font-weight: 800;
  font-size: large;
}

.recipe-section{
    padding: 5%;
    text-align: center;
    padding-top: 50px;
}

.recipe-section h2 {
    color: #8C1C13;
}

/*cards*/
.card {
    background-color: #F2B880;
    margin-bottom: 15px;
    
}
.card ul {
    text-align: left;
}
.card ol {
    text-align: left;
}
/*download buttons*/
.btn-download {
    background-color: #8C1C13;
    color: #F2B880;
    width: 100px;
}
 
.main-container {
    background-color: antiquewhite;
}
/*index page*/
.page-content h1 {
   color: brown; /* Tomato color */
    font-family: 'Open Sans', sans-serif; 
    font-size: 36px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }

  .call-message p {
    font-size: 16px; /* Example font size */
    color: black; 
    font-style: italic;
    line-height: 1.5; 
    
  }

  .carousel-caption {
    color: black;
    font-weight: bolder;
    background-color: aliceblue;
  }

  .carousel {
    overflow-x: hidden;
    margin: 0; /* Add this to remove any default margin */
    padding: 0; /* Add this to remove any default padding */
  }


  body { 
    padding-left: 0%;
    height: 100%;
    
  }

  .carousel-item {
    width: 100%
  }
  .carousel-item img {
    width: 100%; 
    height: 500px;
    object-fit: cover;
    margin: 0;
  }

  .carousel-inner {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (max-width: 760px) {
   
    .container-form #signup-form {
        width: 100%;
    }
    #signup {
        padding-left: 0;
        padding-right: 0;
    }
  }