* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    display: flex;   
}
.navbar {
    background-color: #8C1C13;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.navbar a,
.copyright {
    color: #F2B880;
    font-weight: 700;
}
.active {
    color: antiquewhite !important;
}
.navbar a:hover {
    color: antiquewhite;
}

form {
    justify-content: flex-end ;
     display: flex;
}


footer {
    background-color: #8C1C13; 
}
footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;   
}
footer a {
    color: #F2B880;
}

/*recipe page*/
.recipe-sec
 {
    margin-top: 50px;
    text-align: center;
}
div #italian,
div #indian,'
div #african {
    text-align: center;
}
.recipe-page {
    text-align: center;
    
}
.recipe-page div {
    min-height: 35px;
background-color: ;
}
/*recipe page nav*/
#page-nav {
    text-decoration: none;
    color: #8C1C13;
    font-weight: 500;
} 
#page-nav:hover {
    text-decoration: none;
    color: #F2B880;
} 

/*cards*/
.card {
    background-color: #F2B880;
    margin-bottom: 15px;
}
.card ul {
    text-align: left;
}
.card ol {
    text-align: left;
}
