* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html body {
 width: 100vw;
 height: 100vh;
 overflow-x: hidden;   
}

/*n
avbar and footer*/
nav{
    display: flex;   
}
.navbar {
    background-color: #8C1C13;
    position: fixed;
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* Adjust the z-index as needed */
    

    z-index: 5;

}
.navbar a,
.copyright {
    color: #F2B880;
    font-weight: 700;
}
.active {
    color: antiquewhite !important
}
.navbar a:hover {
    color: antiquewhite;
}

form {
    justify-content: flex-end ;
     display: flex;
}


footer {
    background-color: #8C1C13;
    width: 100%; 
    bottom: 0;
    left: 0;
    position: fixed;
}
footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;   
}
footer a {
    color: #F2B880;
}


/*recipe page*/
.recipe-sec
 {
    margin-top: 50px;
    text-align: center;
}
div #italian,
div #indian,
div #african {
    text-align: center;
}
.recipe-page {
    text-align: center;
    
}
.recipe-page div {
    min-height: 35px;
}
/*recipe page nav*/
#page-nav {
    text-decoration: none;
    color: #F2B880;
    font-weight: 500;
} 
#page-nav:hover {
    text-decoration: none;
    color: antiquewhite;
} 
.cuisine {
    background-color: #8C1C13;
    color: #F2B880;
}
.cuisine a {
  color: #F2B880;
font-weight: 800;
  font-size: large;
}
.recipe-page {
    padding: 20px;
}
.recipe-page h1 {
    color: #8C1C13;
    font-size: xx-large;
    margin-top: 15px;
    font-weight: 700;
}
.recipe-page h2 {
    color: #8C1C13;
}

/*cards*/
.card {
    background-color: #F2B880;
    margin-bottom: 15px;
}
.card ul {
    text-align: left;
}
.card ol {
    text-align: left;
}
/*download buttons*/
.btn .download {
    background-color: #8C1C13;
    color: #F2B880;
    width: 75px;
}
 
.main-container {
    
    height: 60%  !important
}

.page-content h1 {
   color: brown; /* Tomato color*/ 
    font-family: 'Open Sans', sans-serif; 
    font-size: 3rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }

  .call-message p {
    font-size: 1.5rem; /* Example font size*/
    color: black; 
    font-style: italic;
    line-height: 1.5; 
    padding: 25px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;

    
  }

  .carousel-caption {
    color: black;
    font-weight: bolder;
    background-color: rgba(250, 235, 215, 0.6);
  }

  .carousel {
    overflow-x: hidden;
    margin: 0; 
    padding: 0; 
  
    overflow-y: aut
    

  }


  body {
    padding-top: 56px;  
    padding-left: 0%;
    height: 100vh;
    background-color: antiquewhite;
  }

  .carousel-item {
    width: 100%
  }

  .carousel-item img {
    width: 100%; 
    object-fit: cover;
    margin: 0;
  }

  .carousel-inner {
    padding-left: 0;
    padding-right: 0;
  }
  
 
   

.carousel-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .text-center {
    padding-bottom: 50px;
  }
  
 /* .carousel-indicator button {
    background-color: transparent;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    padding: 0;
  }
  
 /* .carousel-indicator button.active {
    background-color: white; /* Change the color for the active indicator */
  }